@font-face {
  font-family: NagomiGokuboso;
  src: url("../fonts/nagomigokuboso.otf");
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NagomiGokuboso;
}

.bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
}

body {
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url("../images/background2.png");
}
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("../images/background3.png");
}
}

.noscroll {
  overflow: hidden !important;
}

.loaded {
  animation: enablescroll 0s linear 1s forwards;
}

@keyframes enablescroll {
  100% {
    overflow-y: auto;
  }
}

#intro:not(.header) {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}


.loaded .intro {
  animation: slide 1s cubic-bezier(0.76, 0, 0.24, 1) 1s both;
}



.loaded .intro2 {
  animation: slide 1s cubic-bezier(0.76, 0, 0.24, 1) 1.1s both;
}



.loaded .intro3 {
  animation: slide 1s cubic-bezier(0.76, 0, 0.24, 1) 1.2s both;
}

@keyframes slide {
  100% {
    transform: translateY(-100%);
  }
}

.intro .logo {
  fill: none;
  stroke-width: 0.5;
  height: 20vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
  stroke-dasharray: 355;
  stroke-dashoffset: 0;
  animation: SVG1 1s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.loaded .intro .logo {
  stroke-dashoffset: 0;
  animation: SVG2 1s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

@keyframes SVG1 {
  0% {
    stroke-dashoffset: 355;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes SVG2 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -355;
  }
}

.intro .loader {
  fill: none;
  stroke: white;
  stroke-width: 0;
  height: 20vh;
  left: 0;
  right: 0;
  bottom: 15vh;
  margin: auto;
  position: fixed;
  animation: SVG6 .5s 2s forwards;
}

.loaded .intro .loader {
  opacity: 0;
  transition: 1s;
}

@keyframes SVG6 {
  0% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 1;
  }
}

.intro .loader .pong {
  stroke-dasharray: 1,3559;
  stroke-dashoffset: 0;
  stroke-width: 0;
  animation: SVG7 .5s 2s forwards,
             SVG3 10s 2.5s linear infinite;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes SVG3 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 3560;
  }
}

@keyframes SVG7 {
  0% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 8;
  }
}

.intro .loader .p1 {
  stroke-dasharray: 22,188;
  stroke-dashoffset: 115;
  animation: SVG4 10s 2.5s cubic-bezier(.71,-0.33,.48,.99) infinite;
}

@keyframes SVG4 {
  0% {
    stroke-dashoffset: 115;
  }
  20% {
    stroke-dashoffset: 30;
  }
  40% {
    stroke-dashoffset: 70;
  }
  60% {
    stroke-dashoffset: 155;
  }
  80% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset:  115;
  }
}

.intro .loader .p2 {
  stroke-dasharray: 22,188;
  stroke-dashoffset: 155;
  animation: SVG5 10s 3.5s cubic-bezier(.71,-0.33,.48,.99) infinite;
}

@keyframes SVG5 {
  0% {
    stroke-dashoffset: 155;
  }
  20% {
    stroke-dashoffset: 200;
  }
  40% {
    stroke-dashoffset: 115;
  }
  60% {
    stroke-dashoffset: 30;
  }
  80% {
    stroke-dashoffset: 70;
  }
  100% {
    stroke-dashoffset: 155;
  }
}

.loaded .intro .loader .pong,
.loaded .intro .loader .p1,
.loaded .intro .loader .p2 {
  animation-play-state: paused;
}

.intro .loadingtext {
  color: white;
  font-size: 4vh;
  text-align: center;
  bottom: 6vh;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  font-family: sans-serif;
  animation: loading .5s 2s ease both;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loaded .intro .loadingtext {
  color: rgba(0, 0, 0, 0);
  transition: 1s;
}

.header {
  position: fixed;
  height: 105vh;
  width: 100%;
  top: 0;
  z-index: 1;
}

.headerload .header {
  animation: slide2 1s cubic-bezier(0.76, 0, 0.24, 1) forwards;
}

@keyframes slide2 {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

.links,
.atransition .links {
  visibility: hidden;
}

.menuload .links {
  visibility: visible;
}

.header2 {
  bottom: 0;
  width: 100%;
  padding: 1vh 4% 1vh;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
  height: 5vh;
}

h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 3.5vh;
}

.header2 svg {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 3.5vh;
}

.header2 .toplink {
  cursor: pointer;
}

.sample-nav {
  margin: 0 0 0 auto;
}


  .links {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    margin: auto;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }

  .links > span {
    position: relative;
    font-size: 5vh;
    width: 40vh;
    font-weight: bolder;
    cursor: pointer;
  }

  .cross {
    cursor: pointer;
    height: 8vh;
    width: 8vh;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }

  .cross span {
    width: 80%;
    height: 3.5%;
    background: #000000;
    display: block;
    position: absolute;
    left: 10%;
    top: 50%;
    border-radius: .5vh;
  }

  .cross span:nth-child(1) {
    transform: rotate(45deg);
  }

  .cross span:nth-child(2) {
    transform: rotate(-45deg);
  }

@media all and (orientation: portrait) {
  .sample-nav {
    display: none;
  }

  .hmbg {
    height: 5vh;
    width: 5vh;
    position: absolute;
    top: 0;
    right: 1vh;
    cursor: pointer;
  }

  .hmbg span {
    width: 60%;
    height: 3.5%;
    background: #000000;
    display: block;
    position: absolute;
    left: 20%;
    border-radius: .2vh;
  }

  .hmbg span:nth-child(1) {
    top: 25%;
  }

  .hmbg span:nth-child(2) {
    top: 50%;
  }

  .hmbg span:nth-child(3) {
    top: 75%;
  }

  #hmbg:checked ~ .header {
    animation: movesection 1s cubic-bezier(0.76, 0, 0.24, 1) forwards;
  }

  .atransition .links,
  .btransition .links {
    visibility: hidden;
  }
}

@media all and (orientation: landscape) {
  .hmbg {
    display: none;
  }

  .atransition .links,
  .transition .links {
    visibility: hidden;
  }

}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 2.5vh;
  display: flex;
  position: relative;
  justify-content: center;
}

li span {
  height: 110%;
  top: 0;
  width: 0;
  position: absolute;
  border-bottom: solid .75px black;
  transition: width .5s;
}

li:hover span {
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.link {
  cursor: pointer;
}

#section {
  display: none;
}

#top > .Top,
#about > .About,
#works > .Works,
#index > .Index {
  display: inline;
}

.transition > .intro {
  top: -100%;
  animation: movesection 1s cubic-bezier(0.76, 0, 0.24, 1) .3s forwards;
}

.transition > .intro2 {
  top: -100%;
  animation: movesection 1s cubic-bezier(0.76, 0, 0.24, 1) .2s forwards;
}

.transition > .intro3 {
  top: -100%;
  animation: movesection 1s cubic-bezier(0.76, 0, 0.24, 1) .1s forwards;
}

.transition > .header {
  animation: movesection 1s cubic-bezier(0.76, 0, 0.24, 1)  forwards;
}

@keyframes movesection {
  0% {
    top: -100%;
  }

  100%{
    top: 0;
  }
}

::-webkit-scrollbar {
  width: 1vw;
  min-width: 10px;
  max-width: 25px;
  z-index: 0;
}


@media (prefers-color-scheme: light) {
  *,
  *::before,
  *::after,
  :root {
    color: rgba(34, 27, 26, 1);
  }

  .logo,
  .header2 svg {
    stroke: rgba(34, 27, 26, 1);
  }

  .hmbg span,
  .cross span {
    background: rgba(34, 27, 26, 1);
  }

  @supports (backdrop-filter:blur(5px)) {
    .header{
    backdrop-filter: blur(5px);
    background: rgba(255, 200, 200, 0.5);
    }
  }

  @supports not (backdrop-filter:blur(5px)) {
    .header{
    background: rgba(200, 170, 170, 0.8);
    }
  }

  .intro {
    background: rgba(255, 250, 250, 1);
  }

  .intro2 {
    background: rgba(250, 247, 247, .6);
  }

  .intro3 {
    background: rgba(245, 229, 229, .6);
  }

  ::-webkit-scrollbar-track {
    background: rgb(253,241,241);
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(199, 168, 164);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 128, 129);
  }
}


@media (prefers-color-scheme: dark) {
  *,
  *::before,
  *::after,
  :root {
    color: rgba(250, 240, 240, 1);
  }

  .logo,
  .header2 svg {
    stroke: rgba(250, 240, 240, 1);
  }

  .hmbg span,
  .cross span {
    background: rgba(250, 240, 240, 1);
  }

  @supports (backdrop-filter:blur(5px)) {
    .header{
    backdrop-filter: blur(5px);
    background: rgba(122, 70, 70, 0.5);
    }
  }

  @supports not (backdrop-filter:blur(5px)) {
    .header{
    background: rgba(100, 50, 50, 0.8);
    }
  }

  .intro {
    background: rgba(24, 20, 22, 1);
  }

  .intro2 {
    background: rgba(36, 27, 27, .6);
  }

  .intro3 {
    background: rgba(56, 37, 37, .6);
  }

  ::-webkit-scrollbar-track {
    background: rgba(34, 30, 32, 1);
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(132, 85, 85);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(101, 57, 57);
  }
}
