.index {
  left: 0;
  right: 0;
  width: 80vw;
  position: absolute;
  top: 30%;
  text-align: center;
  padding: 5%;
  margin: 10% auto;
}


@media (prefers-color-scheme: light) {
    @supports (backdrop-filter:blur(5px)) {
      .index{
      backdrop-filter: blur(5px);
      background: rgba(255, 200, 200, 0.5);
      }
    }

    @supports not (backdrop-filter:blur(5px)) {
      .index{
      background: rgba(200, 170, 170, 0.8);
      }
    }
}


@media (prefers-color-scheme: dark) {
  @supports (backdrop-filter:blur(5px)) {
    .index{
    backdrop-filter: blur(5px);
    background: rgba(122, 70, 70, 0.5);
    }
  }

  @supports not (backdrop-filter:blur(5px)) {
    .index{
    background: rgba(100, 50, 50, 0.8);
    }
  }
}
